@use "sass:color";

@mixin replit-theme(
  $background,
  $foreground,
  $outline,
  $primary,
  $positive,
  $negative
) {
  // Derived
  $background-root: color.adjust($background, $lightness: -10%);
  $background-default: $background;
  $background-higher: color.adjust($background, $lightness: 10%);
  $background-highest: color.adjust($background, $lightness: 30%);
  $background-overlay: color.adjust($background, $lightness: -10%);

  $foreground-default: $foreground;
  $foreground-dimmer: color.adjust($foreground, $lightness: -10%);
  $foreground-dimmest: color.adjust($foreground, $lightness: -30%);

  $outline-default: $outline;
  $outline-default-25: color.adjust($outline, $alpha: -0.5%);
  $outline-dimmer: color.adjust($outline, $lightness: -10%);
  $outline-dimmest: color.adjust($outline, $lightness: -30%);

  $primary-strongest: color.adjust($primary, $lightness: 30%);
  $primary-stronger: color.adjust($primary, $lightness: 10%);
  $primary-default: $primary;
  $primary-dimmer: color.adjust($primary, $lightness: -10%);
  $primary-dimmest: color.adjust($primary, $lightness: -30%);

  $positive-strongest: color.adjust($positive, $lightness: 30%);
  $positive-stronger: color.adjust($positive, $lightness: 10%);
  $positive-default: $positive;
  $positive-dimmer: color.adjust($positive, $lightness: -10%);
  $positive-dimmest: color.adjust($positive, $lightness: -30%);

  $negative-strongest: color.adjust($negative, $lightness: 30%);
  $negative-stronger: color.adjust($negative, $lightness: 10%);
  $negative-default: $negative;
  $negative-dimmer: color.adjust($negative, $lightness: -10%);
  $negative-dimmest: color.adjust($negative, $lightness: -30%);

  &.replit-ui-theme-root {
    --background-root: #{$background-root};
    --background-default: #{$background-default};
    --background-higher: #{$background-higher};
    --background-highest: #{$background-highest};
    --background-overlay: #{$background-overlay};

    --foreground-default: #{$foreground-default};
    --foreground-dimmer: #{$foreground-dimmer};
    --foreground-dimmest: #{$foreground-dimmest};

    --outline-default: #{$outline-default};
    --outline-default-25: #{$outline-default-25};
    --outline-dimmer: #{$outline-dimmer};
    --outline-dimmest: #{$outline-dimmest};

    --accent-primary-strongest: #{$primary-strongest};
    --accent-primary-stronger: #{$primary-stronger};
    -webkit---accent-primary-default: #{$primary-default};
    --accent-primary-default: #{$primary-default};
    --accent-primary-dimmer: #{$primary-dimmer};
    -webkit---accent-primary-dimmest: #{$primary-dimmest};
    --accent-primary-dimmest: #{$primary-dimmest};

    --accent-positive-strongest: #{$positive-strongest};
    --accent-positive-stronger: #{$positive-stronger};
    --accent-positive-default: #{$positive-default};
    -webkit---accent-positive-dimmer: #{$positive-dimmer};
    --accent-positive-dimmer: #{$positive-dimmer};
    --accent-positive-dimmest: #{$positive-dimmest};

    --accent-negative-strongest: #{$negative-strongest};
    --accent-negative-stronger: #{$negative-stronger};
    --accent-negative-default: #{$negative-default};
    -webkit---accent-negative-dimmer: #{$negative-dimmer};
    --accent-negative-dimmer: #{$negative-dimmer};
    --accent-negative-dimmest: #{$negative-dimmest};
  }
}
