@use "base";

@mixin light-replit-theme(
  $background: #fcfcfc,
  $foreground: #07080a,
  $outline: #afb1b3,
  $primary: #0099ff,
  $positive: #2fc448,
  $negative: #f23f3f,
  $red: #e50000,
  $orange: #d96d00,
  $yellow: #ccad14,
  $green: #36b24a,
  $teal: #3db4cc,
  $blue: #2e8ae5,
  $blurple: #7559ff,
  $purple: #a64dff,
  $magenta: #e55ae5,
  $pink: #e545b0,
  $grey: #808080
) {
  @include base.replit-theme(
    $background: $background,
    $foreground: $foreground,
    $outline: $outline,
    $primary: $primary,
    $positive: $positive,
    $negative: $negative,
    $red: $red,
    $orange: $orange,
    $yellow: $yellow,
    $green: $green,
    $teal: $teal,
    $blue: $blue,
    $blurple: $blurple,
    $purple: $purple,
    $magenta: $magenta,
    $pink: $pink,
    $grey: $grey,
    $reverse: true
  );
}
