@use "initial";
@use "sass:color";

// Background
$background-root: color.adjust(initial.$background, $lightness: -10%);
$background-default: initial.$background;
$background-higher: color.adjust(initial.$background, $lightness: 10%);
$background-highest: color.adjust(initial.$background, $lightness: 30%);
$background-overlay: color.adjust(initial.$background, $lightness: -10%);

// Foreground
$foreground-default: initial.$foreground;
$foreground-dimmer: color.adjust(initial.$foreground, $lightness: -10%);
$foreground-dimmest: color.adjust(initial.$foreground, $lightness: -30%);

// Outline
$outline-default: initial.$outline;
$outline-default-25: color.adjust(initial.$outline, $alpha: -0.5%);
$outline-dimmer: color.adjust(initial.$outline, $lightness: -10%);
$outline-dimmest: color.adjust(initial.$outline, $lightness: -30%);

// Primary
$primary-strongest: color.adjust(initial.$primary, $lightness: 30%);
$primary-stronger: color.adjust(initial.$primary, $lightness: 10%);
$primary-default: initial.$primary;
$primary-dimmer: color.adjust(initial.$primary, $lightness: -10%);
$primary-dimmest: color.adjust(initial.$primary, $lightness: -30%);

// Positive
$positive-strongest: color.adjust(initial.$positive, $lightness: 30%);
$positive-stronger: color.adjust(initial.$positive, $lightness: 10%);
$positive-default: initial.$positive;
$positive-dimmer: color.adjust(initial.$positive, $lightness: -10%);
$positive-dimmest: color.adjust(initial.$positive, $lightness: -30%);

// Negative
$negative-strongest: color.adjust(initial.$negative, $lightness: 30%);
$negative-stronger: color.adjust(initial.$negative, $lightness: 10%);
$negative-default: initial.$negative;
$negative-dimmer: color.adjust(initial.$negative, $lightness: -10%);
$negative-dimmest: color.adjust(initial.$negative, $lightness: -30%);
